<head/><div class="modal-header">
    <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="link-ap">About</h4>
</div>
<div class="modal-body">
<p>Catcom JSC with young, talented and creative, and will bring customers smart technology products, and economics, the rich entertainment content , attractive and form dan.
</p><p>
IDolo's products include the videos clips, news, specializes in the Street Dancing, is a composite channel all types of dance related to street art, events, hot, constantly updated daily and the lines event.
</p><p>
At Idolo you will be allowed to post their videos directly recorded onto the system or collectibles, like other social networking applications without moderation through content from admin.
</p><p>
At Idolo if you have active will be honored on the top user, when gifts are fully integrated or accumulated bonus points based coin Ranking user.
</p>
</div>