<div class="modal-header">
    <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Contact</h4>
</div>
<div class="modal-body">
    <div class="box-body">
            <div class="row">
                <div class="img-responsive pad">
                    <blockquote>
                        <h2><cite title="Company name">Catcom - communication & techology JSC </cite></h2>
                        <h4><span class="ion-location"></span><cite title="Address"> Address: B3C Building, Nam Trung Yen urban, Trung Hoa, Cau Giay Dist, Hanoi, VN </cite></h4>
                        <h4><span class="ion-iphone"></span><cite title="Phone number"> Tel: +84 (86) 809 2014  </cite></h4>
                        <h4><span class="ion-email"></span><cite title="Email"> E-mail: infor@catcom.vn</cite></h4>
                    </blockquote>


                </div>

                <!-- /.row -->
            </div>

            <div class="box-body">
            </div>
        </div>
</div>