<head/><div class="modal-header">
    <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="link-ap">Install IDOLO on your phone to update the fastest</h4>
    <p>iOS - Android</p>
</div>
<div class="modal-body">
    <div class="link-app">
        <a href="javascript:alert('comming soon')" target="_blank">
            <img src="/app/images/app-store.png">
        </a>
        <a href="https://drive.google.com/open?id=0B6rLhL-dt6fxR0F5UkRXRVA0Yjg" target="_blank">
            <img src="/app/images/play-store.png">
        </a>
    </div>
</div>