<head/><button type="button" ng-click="closeModal()" class="close close-popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

<div class="modal-dialog modal-lg modal-border">
    <div class="modal-content">
        <div class="modal-account">
            <div class="modal-left">
                <div class="info-ac">
                    <img class="img-icon" src="/app/images/logo.png">
                    <!-- <img class="img-text" src="/app/images/beatvn_text.png"> -->
                </div>
            </div>
            <div class="modal-right" id="loginbox-modal">
                <div class="form-ac">
                    <div class="form-group">
                        <a ng-click="loginFacebook()" class="btn btn-block btn-lg btn-facebook"><i class="icon ion-social-facebook"></i>Sign in with Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

