<head/><div class="bx-profile">
    <div class="container"><!--profile-->
        <div class="detail-profile">
            <div class="detail-inner row">
                <div class="col-left col-sm-12 col-md-3">
                    <div class="tab-profile">
                        <ul class="nav nav-pills nav-stacked" role="tablist" ng-click="tabChange($event)">
                            <li class="active" role="presentation"> <a class="tab_link" href="#tab-basic" aria-controls="tab-basic" role="tab" data-toggle="tab">Thông tin tài khoản</a> </li>
                            <li class="" role="presentation"> <a class="tab_link" href="#tab-personal" aria-controls="tab-personal" role="tab" data-toggle="tab">Thông tin cá nhân</a> </li>
                            <li class="" role="presentation"> <a class="tab_link" href="#tab-password" aria-controls="tab-password" role="tab" data-toggle="tab">Mật khẩu</a> </li>
                            <li class=""> <a class="tab_link" href="#">Đăng xuất</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-right col-sm-12 col-md-9">
                    <div class="tab-content">
                        <div ng-class="{'active':tabSelected=='#tab-basic'}" role="tabpanel" class="tab-pane active" id="tab-basic">
                            <div class="tab-basic">
                                <div ng-if="error" class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{error_msg}}
                                </div>
                                <form method="post">
                                    <div class="row row-header">
                                        <div class="col-sm-12">
                                            <h2 class="title-subheader">
                                                Thông tin tài khoản
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="list-form">
                                        <div class="form-group row">
                                            <div class=" col-sm-6 ">
                                                <label class=" " for="fullname">Họ tên</label>
                                                <input class="form-control" name="Fullname" type="text" id="fullname" placeholder="First Name" ng-model="me.name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class=" col-sm-6 ">
                                                <label class=" " for="fullname">Tên đăng nhập</label>
                                                <input class="form-control" name="username" type="text" ng-model="me.username" id="username" placeholder="Tên đăng nhập">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label class=" " for="email">Email</label>
                                                <input class="form-control" name="email" type="text" id="email" placeholder="Email" ng-model="me.email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 ">
                                                <label class=" " for="phone">Phone</label>
                                                <input class="form-control" name="phone" type="text" id="phone" placeholder="Phone" ng-model="me.phone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-footer">
                                        <div class="form-group col-sm-6">
                                            <button ng-click="updateProfiles()" class="btn btn-primary btn-lg btn-block" name="Sign In"><span>Cập nhật</span> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div ng-class="{'active':tabSelected=='#tab-personal'}" role="tabpanel" class="tab-pane" id="tab-personal">
                            <div class="tab-personal">
                                <form method="post">
                                    <div class="row row-header">
                                        <div class="col-sm-12">
                                            <h2 class="title-subheader">
                                                Thông tin cá nhân
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="list-form">
                                        <div class="form-group row ">

                                            <div class="col-sm-4">
                                                <label class="" for="user_birth_day">Ngày  </label>
                                                <input maxlength="2" class="form-control" name="birth_day" type="text" id="user_birth_day" placeholder="Ngày (03)" value="">
                                            </div>
                                            <div class=" col-sm-4 ">
                                                <label class="" for="user_birth_month">Tháng sinh</label>
                                                <input maxlength="2" class="form-control" name="birth_month" type="text" id="user_birth_month" placeholder="Tháng (08)" value="">
                                            </div>
                                            <div class="col-sm-4 ">
                                                <label class="" for="user_birth_year">Năm sinh</label>
                                                <input maxlength="4" class="form-control" name="birth_year" type="text" id="user_birth_year" placeholder="Năm (1985)" value="">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <div class=" col-sm-8 ">
                                                <label class="" for="address">Địa chỉ</label>
                                                <input maxlength="255" class="form-control" id="address" type="text" placeholder="Địa chỉ" value="" autocomplete="off"> </div>
                                            <div class=" col-sm-4 ">
                                                <label class="" for="country">Quốc gia</label>
                                                <select class="form-control" id="country"><option value="Afghanistan">Afghanistan</option>
                                                    <option value="Albania">Albania</option>
                                                    <option value="Algeria">Algeria</option>
                                                    <option value="Andorra">Andorra</option>
                                                    <option value="Angola">Angola</option>
                                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                    <option value="Argentina">Argentina</option>
                                                    <option value="Armenia">Armenia</option>
                                                    <option value="Australia">Australia</option>
                                                    <option value="Austria">Austria</option>
                                                    <option value="Azerbaijan">Azerbaijan</option>
                                                    <option value="Bahamas">Bahamas</option>
                                                    <option value="Bahrain">Bahrain</option>
                                                    <option value="Bangladesh">Bangladesh</option>
                                                    <option value="Barbados">Barbados</option>
                                                    <option value="Belarus">Belarus</option>
                                                    <option value="Belgium">Belgium</option>
                                                    <option value="Belize">Belize</option>
                                                    <option value="Benin">Benin</option>
                                                    <option value="Bhutan">Bhutan</option>
                                                    <option value="Bolivia">Bolivia</option>
                                                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                    <option value="Botswana">Botswana</option>
                                                    <option value="Brazil">Brazil</option>
                                                    <option value="Brunei">Brunei</option>
                                                    <option value="Bulgaria">Bulgaria</option>
                                                    <option value="Burkina Faso">Burkina Faso</option>
                                                    <option value="Burundi">Burundi</option>
                                                    <option value="Cambodia">Cambodia</option>
                                                    <option value="Cameroon">Cameroon</option>
                                                    <option value="Canada">Canada</option>
                                                    <option value="Cape Verde">Cape Verde</option>
                                                    <option value="Central African Republic">Central African Republic</option>
                                                    <option value="Chad">Chad</option>
                                                    <option value="Chile">Chile</option>
                                                    <option value="China">China</option>
                                                    <option value="Colombi">Colombi</option>
                                                    <option value="Comoros">Comoros</option>
                                                    <option value="Congo">Congo</option>
                                                    <option value="Costa Rica">Costa Rica</option>
                                                    <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                                                    <option value="Croatia">Croatia</option>
                                                    <option value="Cuba">Cuba</option>
                                                    <option value="Cyprus">Cyprus</option>
                                                    <option value="Czech Republic">Czech Republic</option>
                                                    <option value="Denmark">Denmark</option>
                                                    <option value="Djibouti">Djibouti</option>
                                                    <option value="Dominica">Dominica</option>
                                                    <option value="Dominican Republic">Dominican Republic</option>
                                                    <option value="East Timor">East Timor</option>
                                                    <option value="Ecuador">Ecuador</option>
                                                    <option value="Egypt">Egypt</option>
                                                    <option value="El Salvador">El Salvador</option>
                                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                    <option value="Eritrea">Eritrea</option>
                                                    <option value="Estonia">Estonia</option>
                                                    <option value="Ethiopia">Ethiopia</option>
                                                    <option value="Fiji">Fiji</option>
                                                    <option value="Finland">Finland</option>
                                                    <option value="France">France</option>
                                                    <option value="Gabon">Gabon</option>
                                                    <option value="Gambia">Gambia</option>
                                                    <option value="Georgia">Georgia</option>
                                                    <option value="Germany">Germany</option>
                                                    <option value="Ghana">Ghana</option>
                                                    <option value="Greece">Greece</option>
                                                    <option value="Grenada">Grenada</option>
                                                    <option value="Guatemala">Guatemala</option>
                                                    <option value="Guinea">Guinea</option>
                                                    <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                    <option value="Guyana">Guyana</option>
                                                    <option value="Haiti">Haiti</option>
                                                    <option value="Honduras">Honduras</option>
                                                    <option value="Hungary">Hungary</option>
                                                    <option value="Iceland">Iceland</option>
                                                    <option value="India">India</option>
                                                    <option value="Indonesia">Indonesia</option>
                                                    <option value="Iran">Iran</option>
                                                    <option value="Iraq">Iraq</option>
                                                    <option value="Ireland">Ireland</option>
                                                    <option value="Israel">Israel</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Jamaica">Jamaica</option>
                                                    <option value="Japan">Japan</option>
                                                    <option value="Jordan">Jordan</option>
                                                    <option value="Kazakhstan">Kazakhstan</option>
                                                    <option value="Kenya">Kenya</option>
                                                    <option value="Kiribati">Kiribati</option>
                                                    <option value="North Korea">North Korea</option>
                                                    <option value="South Korea">South Korea</option>
                                                    <option value="Kuwait">Kuwait</option>
                                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                    <option value="Laos">Laos</option>
                                                    <option value="Latvia">Latvia</option>
                                                    <option value="Lebanon">Lebanon</option>
                                                    <option value="Lesotho">Lesotho</option>
                                                    <option value="Liberia">Liberia</option>
                                                    <option value="Libya">Libya</option>
                                                    <option value="Liechtenstein">Liechtenstein</option>
                                                    <option value="Lithuania">Lithuania</option>
                                                    <option value="Luxembourg">Luxembourg</option>
                                                    <option value="Macedonia">Macedonia</option>
                                                    <option value="Madagascar">Madagascar</option>
                                                    <option value="Malawi">Malawi</option>
                                                    <option value="Malaysia">Malaysia</option>
                                                    <option value="Maldives">Maldives</option>
                                                    <option value="Mali">Mali</option>
                                                    <option value="Malta">Malta</option>
                                                    <option value="Marshall Islands">Marshall Islands</option>
                                                    <option value="Mauritania">Mauritania</option>
                                                    <option value="Mauritius">Mauritius</option>
                                                    <option value="Mexico">Mexico</option>
                                                    <option value="Micronesia">Micronesia</option>
                                                    <option value="Moldova">Moldova</option>
                                                    <option value="Monaco">Monaco</option>
                                                    <option value="Mongolia">Mongolia</option>
                                                    <option value="Morocco">Morocco</option>
                                                    <option value="Mozambique">Mozambique</option>
                                                    <option value="Myanmar">Myanmar</option>
                                                    <option value="Namibia">Namibia</option>
                                                    <option value="Nauru">Nauru</option>
                                                    <option value="Nepal">Nepal</option>
                                                    <option value="Netherlands">Netherlands</option>
                                                    <option value="New Zealand">New Zealand</option>
                                                    <option value="Nicaragua">Nicaragua</option>
                                                    <option value="Niger">Niger</option>
                                                    <option value="Nigeria">Nigeria</option>
                                                    <option value="Norway">Norway</option>
                                                    <option value="Oman">Oman</option>
                                                    <option value="Pakistan">Pakistan</option>
                                                    <option value="Palau">Palau</option>
                                                    <option value="Panama">Panama</option>
                                                    <option value="Papua New Guinea">Papua New Guinea</option>
                                                    <option value="Paraguay">Paraguay</option>
                                                    <option value="Peru">Peru</option>
                                                    <option value="Philippines">Philippines</option>
                                                    <option value="Poland">Poland</option>
                                                    <option value="Portugal">Portugal</option>
                                                    <option value="Qatar">Qatar</option>
                                                    <option value="Romania">Romania</option>
                                                    <option value="Russia">Russia</option>
                                                    <option value="Rwanda">Rwanda</option>
                                                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                    <option value="Saint Lucia">Saint Lucia</option>
                                                    <option value="Saint Vincent">Saint Vincent</option>
                                                    <option value="Samoa">Samoa</option>
                                                    <option value="San Marino">San Marino</option>
                                                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                                    <option value="Senegal">Senegal</option>
                                                    <option value="Serbia and Montenegro">Serbia and Montenegro</option>
                                                    <option value="Seychelles">Seychelles</option>
                                                    <option value="Sierra Leone">Sierra Leone</option>
                                                    <option value="Singapore">Singapore</option>
                                                    <option value="Slovakia">Slovakia</option>
                                                    <option value="Slovenia">Slovenia</option>
                                                    <option value="Solomon Islands">Solomon Islands</option>
                                                    <option value="Somalia">Somalia</option>
                                                    <option value="South Africa">South Africa</option>
                                                    <option value="Spain">Spain</option>
                                                    <option value="Sri Lanka">Sri Lanka</option>
                                                    <option value="Sudan">Sudan</option>
                                                    <option value="Suriname">Suriname</option>
                                                    <option value="Swaziland">Swaziland</option>
                                                    <option value="Sweden">Sweden</option>
                                                    <option value="Switzerland">Switzerland</option>
                                                    <option value="Syria">Syria</option>
                                                    <option value="Taiwan">Taiwan</option>
                                                    <option value="Tajikistan">Tajikistan</option>
                                                    <option value="Tanzania">Tanzania</option>
                                                    <option value="Thailand">Thailand</option>
                                                    <option value="Togo">Togo</option>
                                                    <option value="Tonga">Tonga</option>
                                                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                    <option value="Tunisia">Tunisia</option>
                                                    <option value="Turkey">Turkey</option>
                                                    <option value="Turkmenistan">Turkmenistan</option>
                                                    <option value="Tuvalu">Tuvalu</option>
                                                    <option value="Uganda">Uganda</option>
                                                    <option value="Ukraine">Ukraine</option>
                                                    <option value="United Arab Emirates">United Arab Emirates</option>
                                                    <option value="United Kingdom">United Kingdom</option>
                                                    <option value="United States">United States</option>
                                                    <option value="Uruguay">Uruguay</option>
                                                    <option value="Uzbekistan">Uzbekistan</option>
                                                    <option value="Vanuatu">Vanuatu</option>
                                                    <option value="Vatican City">Vatican City</option>
                                                    <option value="Venezuela">Venezuela</option>
                                                    <option selected="selected" value="Vietnam">Vietnam</option>
                                                    <option value="Yemen">Yemen</option>
                                                    <option value="Zambia">Zambia</option>
                                                    <option value="Zimbabwe">Zimbabwe</option></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class=" col-sm-12">
                                                <label class="" for="describe">Mô tả</label>
                                                <textarea class="form-control" rows="3" id="describe"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-footer">
                                        <div class="form-group col-sm-12">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" name="Sign In"><span>Cập nhật</span> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div ng-class="{'active':tabSelected=='#tab-password'}" role="tabpanel" class="tab-pane" id="tab-password">
                            <div class="tab-password">
                                <form method="post">
                                    <div class="row row-header">
                                        <div class="col-sm-12">
                                            <h2 class="title-subheader">
                                                Thay đổi mật khẩu
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="list-form">
                                        <div class="form-group row">
                                            <div class=" col-sm-6 ">
                                                <label class=" " for="currentPassword">Mật khẩu hiện tại</label>
                                                <input class="form-control" name="currentPassword" type="password" id="currentPassword" placeholder="Mật khẩu hiện tại" value=""> </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label class=" " for="newPassword">Mật khẩu mới</label>
                                                <input class="form-control" name="newPassword" type="password" id="newPassword" placeholder="Mật khẩu mới" value=""> </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 ">
                                                <label class=" " for="confirmPassword">Xác nhận mật khẩu mới</label>
                                                <input class="form-control" name="confirmPassword" type="password" id="confirmPassword" placeholder="Xác nhận mật khẩu mới" value=""> </div>
                                        </div>
                                    </div>
                                    <div class="row row-footer">
                                        <div class="form-group col-sm-6">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block"><span>Thay đổi</span> </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end profile-->
    </div>
</div>