<head/><div class="media">
    <div class="thumbnail">
        <div class="media-header">
            <div class="media-left">
                <img ng-if="post.avatar" class="media-object" ng-src="{{post.avatar}}" alt="{{post.display_name}}">
                <img ng-if="!post.avatar" class="media-object" ng-src="/app/images/idolo-avatar.png" alt="{{post.display_name}}">
            </div>

            <div class="media-body">
                <h4 class="media-heading">
                    <a analytics-on="click" analytics-event="ViewAnonymousUser" ng-if="post.display_name" href="javascript:;">{{post.display_name}}</a>
                </h4>
                <div class="heading-sub">
                    <span>
                        <a analytics-on="click" analytics-event="ViewDetailPost" ui-sref="post({post_id: post.id})" class="times">
                        <span ng-if="!post.published_at" style="color:red">Not approve</span> 
                        <span ng-if="post.published_at" am-time-ago="'{{post.published_at}}'"></span> 
                        - {{post.category_name}}</a>
                    </span>
                </div>
            </div>
            <div ng-if="post.is_ghim" class="sticker-media">
                <span class="icon ion-bookmark"></span>
            </div>
        </div>
        <div class="media-caption">
            <div class="caption">
                <div ng-bind-html="post.content | filterTxt">

                </div>
                <!-- <span ng-if="post.source">Nguồn: {{post.source}}</span>
                <span ng-if="!post.source">Nguồn: Sưu tầm</span> --><br>
                <a analytics-on="click" analytics-event="ShowMorePost" href="" ng-if="post.showMore" ng-click="showMore()" class="more-post">Read more</a>

            </div>
        </div>
        <div class="media-thumb">
            <div class="sharePhotos" ng-if="post.attachments.length > 1">
                <div class="plusPhotos add-{{post.attachments.length | classImage}}">
                    <div class="item-add" ng-repeat="attachment in post.attachments">

                        <a analytics-on="click" analytics-event="ViewPhoto" ng-href="{{attachment.src}}" data-toggle="lightbox" data-gallery="multiimages-{{post.id}}" ng-if="post.attachments.length > 5 && $index <= 3">
                            <img ng-src="{{$index | multiImage}}" style="background: url({{attachment.src}}) no-repeat">
                        </a>
                        <a analytics-on="click" analytics-event="ViewPhoto" ng-href="{{attachment.src}}" data-toggle="lightbox" data-gallery="multiimages-{{post.id}}" ng-if="post.attachments.length == 5">
                            <img ng-src="{{$index | multiImage}}" style="background: url({{attachment.src}}) no-repeat">
                        </a>
                        <a analytics-on="click" analytics-event="ViewPhoto" ng-href="{{attachment.src}}" data-toggle="lightbox" data-gallery="multiimages-{{post.id}}" ng-if="post.attachments.length == 4">
                            <img ng-src="{{$index | multiImage2}}" style="background: url({{attachment.src}}) no-repeat">
                        </a>
                        <a analytics-on="click" analytics-event="ViewPhoto" ng-href="{{attachment.src}}" data-toggle="lightbox" data-gallery="multiimages-{{post.id}}" ng-if="post.attachments.length > 1 && post.attachments.length <= 3">
                            <img ng-src="/app/images/thumb-1x1.png" style="background: url({{attachment.src}}) no-repeat">
                        </a>
                        <a analytics-on="click" analytics-event="ViewPhoto" ng-if="post.attachments.length > 5 && $index == 4" ng-href="{{attachment.src}}" data-toggle="lightbox" data-gallery="multiimages-{{post.id}}">
                            <span class="nums-photo"><b>+{{post.attachments.length - 4}}</b></span>
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKMAAACjAQMAAADcojzDAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABlJREFUSMftwQEBAAAAgiD/r25IQAEAAPBhDgIAATgkyjIAAAAASUVORK5CYII=" style="background: url({{attachment.src}}) no-repeat">
                        </a>
                        <a style="display: none;" analytics-on="click" analytics-event="ViewPhoto" ng-if="post.attachments.length > 6  && $index >= 5" ng-href="{{attachment.src}}" data-toggle="lightbox" data-gallery="multiimages-{{post.id}}">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKMAAACjAQMAAADcojzDAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABlJREFUSMftwQEBAAAAgiD/r25IQAEAAPBhDgIAATgkyjIAAAAASUVORK5CYII=" style="background: url({{attachment.src}}) no-repeat">
                        </a>
                    </div>
                </div>
            </div>
            <div class="sharePhotos" ng-if="post.attachments.length == 1">
                <div class="plusPhotos add-1">
                    <div class="item-add" ng-repeat="attachment in post.attachments">
                        <a ng-if="attachment.type == 'image'" analytics-on="click" analytics-event="ViewPhoto" ng-href="{{attachment.src}}" data-toggle="lightbox" data-gallery="multiimages-{{post.id}}">
                            <img img-preload ng-src="{{attachment.src}}">
                        </a>
                        <youtube-video video-id="post.youtube_id" player-width="'100%'" player-height="'270px'" player-vars="playerVars"></youtube-video>
                    </div>
                </div>
            </div>
        </div>

        <div class="media-share">
            <div class="post-share" ng-repeat="attachment in post.attachments" ng-if="attachment.type == 'share'">
                <div class="item-img">
                    <a target="_blank" class="link-inner" ng-href="{{attachment.src}}">
                        <img ng-if="attachment.thumb" src="app/images/thumb-16x9.png" style="background: url({{attachment.thumb}}) no-repeat">
                        <img ng-if="!attachment.thumb" src="app/images/thumb-16x9.png">
                    </a>
                </div>
                <div class="item-info">
                    <a target="_blank" class="link-inner" ng-href="{{attachment.src}}">
                                    <span class="item-info-title">
                                        {{attachment.title}}
                                    </span>
                                    <span class="item-info-desc">
                                        {{attachment.description}}
                                    </span>
                        <span class="item-info-source">IDolo</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="media-footer">
            <div class="msg-post">
                <div class="info-msg">
                    <div class="pull-left">
                        <a href="javascript:;" ng-if="post.liked > 0" ng-click="listLiked()"><span>{{post.liked}} likes</span></a>
                    </div>
                    <div class="pull-right">
                        <span ng-if="post.commented > 0">{{post.commented}} comments</span>
                        <span ng-if="post.shared > 0">{{post.shared}} shares</span>
                    </div>
                </div>
                <div class="btn-msg" ng-if="post.is_published">
                    <ul>
                        <li>
                            <a analytics-on="click" analytics-event="LikePost" href="javascript:;" ng-if="!post.is_liked" ng-click="likePost()"><i class="icon ion-thumbsup"></i>Like</a>
                            <a analytics-on="click" analytics-event="UnlikePost" href="javascript:;" class="active" ng-if="post.is_liked" ng-click="unlikePost()"><i class="icon ion-thumbsup"></i>Unlike</a>
                        </li>
                        <li><a ng-click="focusComment()" href="javascript:;"><i class="icon ion-chatbox"></i>Comment</a></li>
                        <li><a ng-click="share()" href="javascript:;"><i class="icon ion-android-share"></i>Share</a></li>
                    </ul>
                </div>
            </div>
            <div class="cm-post" ng-if="post.is_published">
                <div class="it-post">
                    <div class="show-comment" ng-if="post.comments.moreComment">
                        <div class="pull-left">
                            <a ng-click="getComment(5)" href="javascript:;">Read more comment</a>
                        </div>
                        <div class="pull-right">
                            {{post.comments.data.length}} in {{post.commented}}
                        </div>
                    </div>
                    <!--row comment-->
                    <div ng-repeat="cm in post.comments.data">
                        <div class="row-comment">
                            <div class="av-cm">
                                <a ui-sref="user.activity({userId: cm.user_id })">
                                    <img ng-if="cm.avatar" ng-src="{{cm.avatar}}">
                                    <img ng-if="!cm.avatar" ng-src="/app/images/idolo-avatar.png"></a>
                            </div>
                            <div class="tx-cm">
                                <div class="hd-cm">
                                    <a ui-sref="user.activity({userId: cm.user_id })">{{cm.display_name}}</a>
                                    <span ng-bind-html="cm.content | filterTxt"></span>

                                </div>
                                <div class="bt-cm">
                                    <span am-time-ago="'{{cm.created_at}}'"></span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="ip-post" ng-show="loggedIn">
                    <div class="av-post">
                        <img ng-if="me.avatar" ng-src="{{me.avatar}}" alt="">
                        <img ng-if="!me.avatar" ng-src="/app/images/idolo-avatar.png" alt="">
                    </div>
                    <div class="tx-post">
                        <form ng-submit="leaveComment($event)">
                            <input ng-model="post.inputComment" type="text" class="form-control" placeholder="Write a comment" id="commentbox-{{post.id}}">
                            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>