<head/><div class="modal-header">
    <div class="">
        <div class="header-user pull-left">
            <a ui-sref="user.activity({userId: me.id })" href="javascript:;">
                <div class="avatar-user">
                    <img ng-if="me.avatar" ng-src="{{me.avatar}}">
                    <img ng-if="!me.avatar" ng-src="/app/images/idolo-avatar.png">
                </div>
                <div class="intro-user">
                    <div class="name-user">{{me.name}}</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="modal-body" flow-init="{target: '/api/post/upload', testChunks:false, singleFile:true}" flow-files-submitted="$flow.upload()" flow-file-success="uploadFileSuccess($message)" flow-files-added="fileAdd( $files, $event, $flow )">
    <div class="post-content">
        <div ng-if="error" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error_msg}}
        </div>
        <div class="control-open">
            <div class="add add-images">
                <div class="drop" flow-drop="" ng-class="dropClass">
                    <span class="btn btn-default" flow-btn=""><i class="icon ion-videocamera"></i><input id="add-images" type="file" style="visibility: hidden; position: absolute;"></span>
                </div>
            </div>
        </div>
        <div class="post-content">
            <textarea class="form-control ip-content" rows="3" ng-model="formData.content" placeholder="What's on your mind?"></textarea>
        </div>
        <div class="view-file">
            <div class="item-add" ng-repeat="file in $flow.files" class="gallery-box ng-scope">
                <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                         <span class="sr-only" ng-model="progress">{{file.progress()}}</span>
                        <span class="" ng-model="progress">{{file.progress()*100 | number:2}}% Complete</span>
                    </div>
                </div>
                <div class="add-inner">
                    <a href="#" ng-click="file.cancel()" class="del-photo"><i class="icon ion-close"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <button ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <div class="pull-right">
        <div class="btn-group">
        </div>
        <button ng-click="save()" type="button" class="btn btn-primary" ng-disabled="!uploadFileStatus">Submit</button>
    </div>
</div>
<script type="text/javascript">
    /*$flow.on('fileAdded', function(file, event){
        console.log(file, event);
    });
    $flow.on('fileSuccess', function(file,message){
        console.log(file,message);
    });
    $flow.on('fileError', function(file, message){
        console.log(file, message);
    });*/
</script>